@import "mixins/mixins";
@import "mixins/utils";
@import "common/var";
//TODO: 主题样式
@include b(radio) {
    display: inline-block;
    white-space: nowrap;
    outline: none;
    @include utils-user-select(none);
    margin-right: 30px;
    @include e(input){
        //需要给外部添加vertical-align 使得内部inner 元素垂直居中
        line-height: 1;
        vertical-align: middle;
    }
    @include e(inner) {
        border: $--radio-input-border;
        border-radius: $--radio-input-border-radius;
        width: $--radio-input-width;
        height: $--radio-input-height;
        display: inline-block;
        cursor: pointer;
        position: relative;
        background-color: $--radio-input-background-color;
        &::after {
            width: 4px;
            height: 4px;
            border-radius: $--radio-input-border-radius;
            background-color: $--color-white;
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) scale(0);
            transition: transform 0.15s ease-in;
        }
        &:hover {
            border-color: $--radio-input-border-color-hover;
        }
    }
    @include e(original) {
        opacity: 0;
        display: none;
    }
    
    @include e(label) {
        font-size: $--radio-font-size;
        padding-left: 10px;
    }
//各种状态
    @include when(checked) {
        & > .jkb-radio__label {
            color: $--radio-checked-font-color;
        }
        &  .jkb-radio__inner {
            border-color: $--radio-checked-input-border-color;
            background: $--radio-checked-icon-color;
            &::after {
                transform: translate(-50%, -50%) scale(1);
            }
        }
    }
    @include when(disabled) {
        cursor:not-allowed;
        &   .jkb-radio__inner {
            border-color: $--radio-disabled-input-border-color;
            background-color: $--radio-disabled-input-fill;
            &::after{
                cursor: not-allowed;
                background-color: $--radio-disabled-icon-color;
            }
        }
        & > .jkb-radio__label {
            color: $--color-text-placeholder;
        }
    }
    @include adjacentWhen(disabled,checked) {
        @include e(inner) {
            &::after {
                background-color: $--radio-disabled-checked-icon-color;
            }
        }
    }
}
